{% extends "layout.html" %}

{% block page_title %}
  Identity assurance standards
{% endblock %}

{% block beforeContent %}
  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
  items: [
    {
      text: "Checking identity",
      href: "/about-identity-checking/overview"
    },
    {
      text: "How fraud affects services"
    }
  ]
  }) }}

{% endblock %}

{% block content %}

<main role="main" id="content" class="html-publication" lang="en">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
          How fraud affects services
        </h1>

        <p>
          UK identity fraud hit the highest levels ever in 2017, it costs:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            government between £1 billion and £4 billion
          </li>
          <li>
            the economy between £5 billion and £14 billion
          </li>
        </ul>
        <p>
          It can be a battle to stop identity crime when there are so many opportunities for fraudsters. There are over 11,000 ads on Darknet offering one or more identity documents
        </p>
        <h2 class="govuk-heading-m">
          Motivations
        </h2>
        <p>
          Criminals need identities to facilitate crimes like human trafficking or financial crime.
        </p>
        <p>
          There’s a wide range of motivations for committing these types of fraud.
        </p>
        <p>
          A person may be looking to get hold of a document like a birth certificate, which gives them the ability to obtain other documents documents. They may want a stolen passport and change the image as a good quality fake might be useful whether they can get across a border or not.
        </p>
        <p>
          These documents could allow them to open bank accounts, getting a driving licence or access services. They can also do nasty things like criminal finances and money laundering, organised property crime or trafficking of human beings without getting caught.
        </p>
        <h2 class='govuk-heading-m'>
          This intelligence informs the standards
        </h2>
        <p>
          This counter-threat intelligence feeds into the standards which are there to help services check identity in the right way. By following trusted standards services can lower the risk of accepting fake or stolen identities
        </p>

        <p class="govuk-!-margin-top-9">
          <a href="/about-identity-checking/identity-checking">Continue to how identity checking works</a>
        </p>
        <p>
          <a href="/about-identity-checking/overview">Return to overview</a>
        </p>
    </div>
  </div>
</main>

{% endblock %}
