{% extends "layout.html" %}

{% block page_title %}
  Identity assurance standards
{% endblock %}

{% block beforeContent %}
  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
  items: [
    {
      text: "Checking identity",
      href: "/about-identity-checking/overview"
    },
    {
      text: "How fraud affects services"
    }
  ]
  }) }}

{% endblock %}

{% block content %}

<main role="main" id="content" class="html-publication" lang="en">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
          How identity checking works
        </h1>

        <p>
          Identity checking is made up of 5 parts:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li><a href="#strength">get evidence of the claimed identity</a> (‘strength’)</li>
          <li><a href="#validity">check the evidence is genuine or valid</a> (‘validity’)</li>
          <li><a href="#activity">check the claimed identity has existed over time</a> (‘activity’)</li>
          <li><a href="#fraud">check if the claimed identity is at high risk of identity fraud</a> (‘identity fraud’)</li>
          <li><a href="#verification">check that the identity belongs to the person who’s claiming it</a> (‘verification’)</li>
        </ul>

        <h2 class="govuk-heading-m" id="strength">Get evidence of the claimed identity</h2>
        <p>
          Some pieces of evidence are 'stronger' than others, which means they will be harder to:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>forge (when an existing piece of evidence is changed to make it look like it belongs to someone else)</li>
          <li>counterfeit (when a piece of evidence is created from scratch)</li>
        </ul>

        <p>
          How strong the evidence is depends on:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>what security features are on it (for example a hologram or an electronic chip)</li>
          <li>what information it has</li>
          <li>how the person proved their identity to get the evidence</li>
        </ul>

        <h2 class="govuk-heading-m" id="validity">Check the evidence is genuine or valid</h2>
        <p>
          To make sure you only accept a piece of evidence that's real you should check if it's:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>genuine (not forged or counterfeit)</li>
          <li>valid (it's been issued and has not expired, been cancelled, or reported as lost or stolen)</li>
        </ul>

        <h2 class="govuk-heading-m" id="activity">Check the claimed identity has existed over time</h2>

        <p>To lower the risk of you accepting a synthetic identity or an identity that belongs to someone who's died, you can check the claimed identity has existed over time.</p>

        <p>You can check if the claimed identity has interacted with other organisations. Some examples of interactions are:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>credit card transactions</li>
          <li>student loan repayments</li>
          <li>mortgage payments</li>
          <li>gas or electricity account payments</li>
          <li>when someone signs in to an online bank or retail account</li>
        </ul>

        <p>You can also check if the claimed identity has records that show it's been known by organisations over time. Some examples of these records are:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>health records</li>
          <li>employment records</li>
          <li>school records</li>
        </ul>

        <h2 class="govuk-heading-m" id="fraud">Check if the claimed identity is at high risk of identity fraud</h2>

        <p>You should make sure the claimed identity is not at a higher than usual risk of identity fraud or likely to be synthetic.</p>

        <p>You can do this by checking the details of the claimed identity with authoritative counter-fraud data sources, such as a national fraud database.</p>

        <h2 class="govuk-heading-m" id="verification">Check that the identity belongs to the person who’s claiming it</h2>

        <p>You must prove that the person who's going through your identity checking process is the claimed identity.</p>

        <p>If you do not do this, you could be fooled by someone using evidence that belongs to someone else.</p>

        <h2 class="govuk-heading-m govuk-!-margin-top-6">Having confidence in an identity</h2>
        <p>Doing different parts of the identity checking process will help you build up confidence in an identity so that you can be sure someone is who they say they are. </p>



        <p class="govuk-!-margin-top-6">
          <a href="/about-identity-checking/confidence">Continue to how to be confident enough in an identity</a>
          or
          <a href="/about-identity-checking/overview">return to overview</a>
        </p>
    </div>
  </div>
</main>

{% endblock %}
