{% extends "layout.html" %}

{% block page_title %}
  Identity assurance standards
{% endblock %}

{% block beforeContent %}
  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
  items: [
    {
      text: "Checking identity",
      href: "/about-identity-checking/overview"
    },
    {
      text: "How fraud affects services"
    }
  ]
  }) }}

{% endblock %}

{% block content %}

<main role="main" id="content" class="html-publication" lang="en">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
          How identity checking works
        </h1>

        <p>Identity checking is made up of a combination of 5 pieces; evidence, validity, activity, fraud and verification.

        <h2 class="govuk-heading-m" id="strength">1. Evidence</h2>

        <p>Some pieces of evidence are 'stronger' than others, which means they will be harder to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>forge (when an existing piece of evidence is changed to make it look like it belongs to someone else)</li>
          <li>counterfeit (when a piece of evidence is created from scratch)</li>
        </ul>

        <h2 class="govuk-heading-m" id="validity">2. Validity</h2>
        <p>Check the evidence is genuine or valid. This gives you protection against people using evidence that is lost, stolen, expired, revoked or synthetic.
        </p>

        <h2 class="govuk-heading-m" id="activity">3. Activity</h2>

        <p>Check the identity exists in the real world. This gives you protection against people who have created synthetic identities.</p>

        <h2 class="govuk-heading-m" id="fraud">4. Fraud</h2>

        <p>Understand if they are at high risk of fraud. This gives you protection against people using evidence that has been reported stolen, or impersonating someone who has died or is high profile.</p>

        <h2 class="govuk-heading-m" id="verification">5. Verification</h2>

        <p>Make sure the person is the same person as on their evidence. This gives you protection against people pretending to be someone else.</p>

        <h2 class="govuk-heading-m govuk-!-margin-top-6">Having confidence in an identity</h2>
        <p>Doing different parts of the identity checking process will help you build up confidence in an identity so that you can be sure someone is who they say they are. </p>



        <p class="govuk-!-margin-top-6">
          <a href="/about-identity-checking/confidence">Continue to how to be confident enough in an identity</a>
        </p>
        <p>
          <a href="/about-identity-checking/overview">Return to overview</a>
        </p>
    </div>
  </div>
</main>

{% endblock %}
