{% extends "layout.html" %}

{% block page_title %}
  Identity assurance standards
{% endblock %}

{% block beforeContent %}
  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
  items: [
    {
      text: "Checking identity",
      href: "/about-identity-checking/overview"
    },
    {
      text: "How fraud affects services"
    }
  ]
  }) }}

{% endblock %}

{% block content %}

<main role="main" id="content" class="html-publication" lang="en">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
          How identity checking works
        </h1>

        <p>

        </p>

        <p class="govuk-!-margin-top-9">
          <a href="/about-identity-checking/confidence">Continue to how to be confident enough in an identity</a>
          or
          <a href="/about-identity-checking/overview">return to overview</a>
        </p>
    </div>
  </div>
</main>

{% endblock %}
