{% extends "layout.html" %}

{% block page_title %}
  Identity assurance standards
{% endblock %}

{% block content %}

<main role="main" id="content" class="html-publication" lang="en">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Checking identity
      </h1>
      <h2 class="govuk-heading-m">
        About identity checking
      </h2>
      <ul class="govuk-list">
        <li><a href="check-you-need-identity">Find out if you need to check users’ identities</a></li>
        <li><a href="fraud">How fraud affects services</a></li>
        <li><a href="identity-checking">How identity checking works</a></li>
        <li><a href="confidence">How to be confident enough in an identity</a></li>
      </ul>

      <h2 class="govuk-heading-m">
        Understand risks
      </h2>
      <ul class="govuk-list">
        <li><a href="#">Assess your service’s risk of identity fraud</a></li>
        <li><a href="#">Decide how confident you need to be in an identity</a></li>
      </ul>

      <h2 class="govuk-heading-m">
        Design a process
      </h2>
      <ul class="govuk-list">
        <li><a href="#">Decide the checks you need to make</a></li>
        <li><a href="#">Find out what evidence you can ask for and how to check it</a></li>
        <li><a href="#">Find out how to check an identity has existed over time</a></li>
        <li><a href="#">Find out how to check the identity hasn’t been involved in fraud</a></li>
      </ul>


      <h2 class="govuk-heading-m">
        Assess a solution
      </h2>
      <ul class="govuk-list">
        <li><a href="/start">Assess how a process meets the standards</a></li>
        <li><a href="#">Usability test your process</a></li>
      </ul>

      <!-- <h2 class="govuk-heading-m">
        Build or integrate an identity checking service or component
      </h2>
      <ul class="govuk-list">

      </ul>

      <h2 class="govuk-heading-m">
        Sell an identity checking service or component
      </h2>
      <ul class="govuk-list">
        <li><a href="#">Getting certified</a></li>
        <li><a href="#">Selling to the public sector</a></li>
        <li><a href="#">Selling to the private sector</a></li>
      </ul> -->


  </div>

  </div>
</main>

{% endblock %}
