{% extends "layout.html" %}

{% block page_title %}
  Identity assurance standards
{% endblock %}

{% block content %}

<main role="main" id="content" class="html-publication" lang="en">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Checking identity
      </h1>
      <h2 class="govuk-heading-l">
        About identity checking
      </h2>
      <ul class="govuk-list">
        <li><a href="#">Check if you need to check identity</a></li>
        <li><a href="#">Find out how fraud affects services</a></li>
        <li><a href="#">Find out how identity checking works</a></li>
        <li><a href="#">Find out how to be confident enough in an identity</a></li>
      </ul>

      <h2 class="govuk-heading-l">
        Understand risks
      </h2>
      <ul class="govuk-list">
        <li><a href="#">Assessment your service’s risk</a></li>
        <li><a href="#">Decide how confident you need to be in an identity</a></li>
      </ul>

      <h2 class="govuk-heading-l">
        Design a process
      </h2>
      <ul class="govuk-list">
        <li><a href="#">Decide how to meet a level of confidence</a></li>
        <li><a href="#">Find out what evidence you can ask for and how to check it</a></li>
        <li><a href="#">Check an identity has existed over time</a></li>
        <li><a href="#">Check the identity hasn’t been involved in fraud</a></li>
      </ul>


      <h2 class="govuk-heading-l">
        Assess a solution
      </h2>
      <ul class="govuk-list">
        <li><a href="#">Assess how a process meets the standards</a></li>
        <li><a href="#">Usability testing your process</a></li>
      </ul>


      <!-- <h2 class="govuk-heading-l">
        Build or integrate an identity checking service or component
      </h2>

      <h2 class="govuk-heading-l">
        Sell an identity checking service or component
      </h2> -->

  </div>

  </div>
</main>

{% endblock %}
