{% extends "layout.html" %}

{% block pageTitle %}
  Overview
{% endblock %}

{% block beforeContent %}

  <a href="javascript:history.back()" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Verification checks</span>

      <form action="/verification-physical-1-answer" method="post" novalidate>

        {% from "checkboxes/macro.njk" import govukCheckboxes %}
        {% from "radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          idPrefix: "verification-physical-1",
          name: "verification-physical-1",
          fieldset: {
            legend: {
              text: "Do you check someone physically matches the photo on the evidence in person?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: ""
          },
          items: [
            {
              value: "1",
              text: "Yes"
            },
            {
              value: "2",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
