{% extends "layout.html" %}

{% block pageTitle %}
  Verification checks – Assess an identity check
{% endblock %}

{% block beforeContent %}

  <a href="javascript:history.back()" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Verification checks</span>

      <form action="/verification-physical-2b-answer" method="post" novalidate>

        {% from "checkboxes/macro.njk" import govukCheckboxes %}
        {% from "radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          idPrefix: "verification-physical-2b",
          name: "verification-physical-2b",
          fieldset: {
            legend: {
              text: "How often do they refresh their training?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: ""
          },
          items: [
            {
              value: "1",
              text: "Every year"
            },
            {
              value: "2",
              text: "Every 3 years"
            },
            {
              divider: "or"
            },
            {
              value: "3",
              text: "They do not refresh their training"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
