{% extends "layout.html" %}

{% block pageTitle %}
  Overview
{% endblock %}

{% block beforeContent %}

  <a href="javascript:history.back()" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Verification checks</span>

      <form action="/verification-4c-answer" method="post" novalidate>

        {% from "checkboxes/macro.njk" import govukCheckboxes %}
        {% from "radios/macro.njk" import govukRadios %}

        {% set checksHTML %}

          {{ govukRadios({
            idPrefix: "verification-4cb",
            name: "verification-4cb",
            fieldset: {
              legend: {
                text: "Do you check it was sent to the same person whose identity you're checking?",
                classes: "govuk-fieldset__legend--s"
              }
            },
            hint: {
              text: ""
            },
            items: [
              {
                value: "1",
                text: "Yes"
              },
              {
                value: "2",
                text: "No"
              }
            ]
          }) }}
        {% endset -%}


        {{ govukRadios({
          idPrefix: "verification-4ca",
          name: "verification-4ca",
          fieldset: {
            legend: {
              text: "Do you need to send the person a code by email or text?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: ""
          },
          items: [
            {
              value: "1",
              text: "Yes",
              conditional: {
                html: checksHTML
              }
            },
            {
              value: "2",
              text: "No"
            }
          ]
        }) }}



        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
