{% extends "layout.html" %}

{% block pageTitle %}
  Overview
{% endblock %}

{% block beforeContent %}

  <a href="javascript:history.back()" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Verification checks</span>
      <h1 class="govuk-heading-l">How are ‘false matches’ and ‘false non-matches’ handled in your system?</h1>

      <p>
        A ‘false match rate’ happens when a person's biometric information appears to be the same as biometric information that belongs to someone else.
      </p>
      <p>
        A ‘false non-match’ happens when someone’s biometric information does not match biometric information that your system has previously collected.
      </p>

      <form action="/verification-biometric-4-answer" method="post" novalidate>

        {% from "_custom_macros/checkboxes/macro.njk" import govukCheckboxes %}
        {% from "radios/macro.njk" import govukRadios %}

        {{ govukCheckboxes({
          idPrefix: "verification-biometric-4",
          name: "verification-biometric-4",
          fieldset: {
            legend: {
              text: "",
              isPageHeading: false
            }
          },
          hint: {
            text: "Select all that apply."
          },
          items: [
            {
              value: "1",
              text: "The number of false matches and non-matches in your system are appropriate for your security and usability needs"
            },
            {
              value: "2",
              text: "The way your system handles false matches and non-matches was built following industry best practice (like ISO/IEC TR 29156:2015) "
            },
            {
              divider: "or"
            },
            {
              value: "3",
              text: "Your service does not handle false matches or non-matches"
            }
          ]
        }) }}



        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
