{% extends "layout.html" %}

{% block pageTitle %}
  Verification checks – Assess an identity check
{% endblock %}

{% block beforeContent %}

  <a href="javascript:history.back()" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Verification checks</span>
      <h1 class="govuk-heading-l">How do you protect your process against ‘spoofing’ attacks?</h1>

      <p>
        A ‘spoofing’ attack is when someone uses false biometric information to pretend to be someone else. They can do this by using things like masks or recordings to look or sound like someone else.
      </p>

      <form action="/verification-biometric-3-answer" method="post" novalidate>

        {% from "checkboxes/macro.njk" import govukCheckboxes %}
        {% from "radios/macro.njk" import govukRadios %}

        {% from "checkboxes/macro.njk" import govukCheckboxes %}

        {{ govukCheckboxes({
          idPrefix: "verification-biometric-3",
          name: "verification-biometric-3",
          fieldset: {
            legend: {
              text: "",
              isPageHeading: false
            }
          },
          hint: {
            text: "Select all that apply."
          },
          items: [
            {
              value: "1",
              text: "The system checks if someone's using an artefact to pretend to be someone else (for example holding up a photo) "
            },
            {
              value: "2",
              text: "The system checks if the artefact took time, money and effort to create (for example if the person uses a 3D printed mask of someone's likeness)"
            },
            {
              value: "3",
              text: "The system checks if the artefact is sophisticated and needed criminal activity to create (for example if the person shows a 3D animated avatar on a computer or device when you check a facial biometric)"
            }
          ]
        }) }}



        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
