{% extends "layout.html" %}

{% block pageTitle %}
  Overview
{% endblock %}

{% block beforeContent %}

  <a href="javascript:history.back()" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Verification checks</span>

      <form action="/verification-7a-answer" method="post" novalidate>

        {% from "_custom_macros/checkboxes/macro.njk" import govukCheckboxes %}
        {% from "radios/macro.njk" import govukRadios %}

        {{ govukCheckboxes({
          idPrefix: "verification-7a",
          name: "verification-7a",
          fieldset: {
            legend: {
              text: "How do you check the quality of the image or video of the person?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select all that apply."
          },
          items: [
            {
              value: "1",
              text: "You make sure the person whose identity is being checked is present when their image or video is captured (you should not use a scan or an upload from a photo or video feed) "
            },
            {
              value: "2",
              text: "You make sure the image has not been intercepted and reused ('replayed')"
            },
            {
              value: "3",
              text: "You make sure you compare an image or video of the person to an image or video of a genuine piece of evidence"
            },
            {
              value: "4",
              text: "You make sure the image has been shared in a way that stops it from being tampered with (for example a 'man-in-the-middle' attack)"
            },
            {
              divider: "or"
            },
            {
              value: "5",
              text: "You do not do any of these checks"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
