{% extends "layout.html" %}

{% block pageTitle %}
  Overview
{% endblock %}

{% block beforeContent %}

  <a href="javascript:history.back()" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Verification checks</span>

      <form action="/verification-3a-answer" method="post" novalidate>

        {% from "_custom_macros/checkboxes/macro.njk" import govukCheckboxes %}
        {% from "radios/macro.njk" import govukRadios %}

        {{ govukCheckboxes({
          idPrefix: "verification-3a",
          name: "verification-3a",
          fieldset: {
            legend: {
              text: "Tell us about the KBV questions you ask",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select all that apply."
          },
          items: [
            {
              value: "1",
              text: "They're written in a clear and simple way"
            },
            {
              value: "2",
              text: "They're about something whoever the person is claiming to be would reasonably be expected to know"
            },
            {
              value: "3",
              text: "The data the questions are based on comes from a source that makes sure the data has not been altered or shared"
            },
            {
              divider: "or"
            },
            {
              value: "4",
              text: "None of the above"
            }
          ]
        }) }}



        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
