{% extends "layout.html" %}

{% block pageTitle %}
  Overview
{% endblock %}

{% block beforeContent %}

  <a href="javascript:history.back()" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Verification checks</span>

      <form action="/verification-11a-answer" method="post" novalidate>

        {% from "checkboxes/macro.njk" import govukCheckboxes %}
        {% from "radios/macro.njk" import govukRadios %}

        {% set checksHTML %}
          {{ govukRadios({
            idPrefix: "verification-11ab",
            name: "verification-11ab",
            fieldset: {
              legend: {
                text: "How many tests do you ask them to do?",
                classes: "govuk-fieldset__legend--s"
              }
            },
            hint: {
              text: ""
            },
            items: [
              {
                value: "1",
                text: "One"
              },
              {
                value: "2",
                text: "More than one"
              }
            ]
          }) }}
        {% endset -%}

        {% from "checkboxes/macro.njk" import govukCheckboxes %}

        {{ govukCheckboxes({
          idPrefix: "verification-11aa",
          name: "verification-11aa",
          fieldset: {
            legend: {
              text: "How do you check the biometric information?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select all that apply."
          },
          items: [
          {
            value: "1",
            text: "You match the person to biometric information that's known to belong to whoever they're claiming to be (known as 'one-to-one verification')"
          },
          {
              value: "2",
              text: "You ask the person to complete a test to confirm they're real (known as a 'liveness' test)",
              conditional: {
                html: checksHTML
              }
            },
            {
              value: "3",
              text: "You make sure the biometric information has been shared in a way that stops it from being tampered with"
            },
            {
              value: "4",
              text: "You make sure the person's biometric information is captured under suitable conditions (things like light, noise and humidity can affect how it's captured)"
            },
            {
              value: "5",
              text: "You use a biometric algorithm that’s been proven to be effective by testing it against a recognised standard, like the National Institute of Standards Technology (NIST)"
            }
          ]
        }) }}



        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
