{% extends "layout.html" %}

{% block pageTitle %}
  Verification checks – Assess an identity check
{% endblock %}

{% block beforeContent %}

  <a href="javascript:history.back()" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Verification checks</span>

      <form action="/verification-physical-2c-answer" method="post" novalidate>

        {% from "_custom_macros/checkboxes/macro.njk" import govukCheckboxes %}
        {% from "radios/macro.njk" import govukRadios %}

        {{ govukCheckboxes({
          idPrefix: "verification-physical-2c",
          name: "verification-physical-2c",
          fieldset: {
            legend: {
              text: "How do you make sure you do the check properly?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select all that apply."
          },
          items: [
            {
              value: "1",
              text: "Make sure the person whose identity is being checked is present"
            },
            {
              value: "2",
              text: "Check the light conditions are good enough to clearly see the person and the image on the evidence"
            },
            {
              value: "3",
              text: "Check the photo you're comparing the person to is from a genuine piece of evidence"
            },
            {
              value: "4",
              text: "Check the photo you're comparing the person to has not been tampered with"
            },
            {
              value: "5",
              text: "Make sure you can tell if someone is wearing a mask, makeup or prosthetics to look like someone else"
            },
            {
              value: "6",
              text: "Make sure the person's eyes are not hidden by any glare or reflections (if they're wearing glasses)"
            },
            {
              divider: "or"
            },
            {
              value: "7",
              text: "You don't do any of these things"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
