{% extends "layout.html" %}

{% block pageTitle %}
  Overview
{% endblock %}

{% block beforeContent %}

  <a href="javascript:history.back()" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Verification checks</span>
    <h1 class="govuk-heading-l">High quality KBV challenges</h1>

    <p>
      High quality KBV challenges must also:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>come from a source that checked the person was who they said they were in a way that followed the Money Laundering Regulations 2017</li>
      <li>come from a source that makes sure the information cannot be accessed, modified or created by its employees</li>
      <li>come from a source that's separate from your organisation</li>
      <li>come from a source that's regulated by a statutory or independent body</li>
      <li>be based on information that cannot be known or accessed by anyone apart from the person and their immediate family without breaking the law (for example information that could be found on the dark web should not be used)</li>
    </ul>


    <form action="/verification-3c-answer" method="post" novalidate>

      {% from "checkboxes/macro.njk" import govukCheckboxes %}
      {% from "radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        idPrefix: "verification-3c",
        name: "verification-3c",
        fieldset: {
          legend: {
            text: "Do you ask someone to complete high quality KBV challenges?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: ""
        },
        items: [
          {
            value: "1",
            text: "Yes"
          },
          {
            value: "2",
            text: "No"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>

{% endblock %}
