{% extends "layout.html" %}

{% block pageTitle %}
  Overview
{% endblock %}

{% block beforeContent %}
{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}
{{ govukBreadcrumbs({
items: [
  {
    text: "Checking identity",
    href: "/index"
  },{
    text: "Assess an identity check",
    href: "/before-you-start"
  },{
    text: "Your scores",
    href: "/overview"
  },
  {
    text: "Verification checks"
  }
]
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Verification checks</span>
      <h1 class="govuk-heading-l">Do you check the person is the same person they’re claiming to be?</h1>

      <p>
        You should prove that the person going through your identity checking process is the same person they’re claiming to be
      </p>

      <form action="/verification-0-answer" method="post" novalidate>

        {% from "radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          idPrefix: "verification-0",
          name: "verification-0",
          fieldset: {
            legend: {
              text: "",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
          {
            value: "1",
            text: "Yes"
          },
          {
            value: "2",
            text: "No"
          }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
