{% extends "layout.html" %}

{% block pageTitle %}
  Verification checks – Assess an identity check
{% endblock %}

{% block beforeContent %}

  <a href="javascript:history.back()" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Verification checks</span>
    <h1 class="govuk-heading-l">Low quality KBV challenges</h1>

    <p>
      Low quality KBV challenges must be:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>about whoever the person is claiming to be
      <li>clear and simple so the person knows exactly what you're asking them </li>
      <li>about something they can reasonably be expected to know</li>
      <li>from a source that maintains the integrity of the information the question is based on</li>
      <li>from a source that makes sure the information cannot be misused by the person (for example they should not be able to create false records)</li>
    </ul>

    <p>
      Low quality KBV challenges must not:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>be able to be answered with information that's available in the public domain (for example in an open dataset or on a website that anyone can access)</li>
      <li>be able to be answered using information the person has submitted at another point in the identity checking process</li>
      <li>be predictable (the questions and answers should change each time someone goes through your identity checking process)</li>
      <li>have answers that can be easily guessed if you're asking multiple choice questions</li>
      <li>include information that will give the person the answer to another question</li>
      <li>show personal information (unless the person has already submitted it at another point during the identity checking process)</li>
    </ul>

    <form action="/verification-3a-answer" method="post" novalidate>

      {% from "checkboxes/macro.njk" import govukCheckboxes %}
      {% from "radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        idPrefix: "verification-3a",
        name: "verification-3a",
        fieldset: {
          legend: {
            text: "Do you ask someone to complete low quality KBV challenges?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: ""
        },
        items: [
          {
            value: "1",
            text: "Yes"
          },
          {
            value: "2",
            text: "No"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>

{% endblock %}
