{% extends "layout.html" %}

{% block pageTitle %}
  Overview
{% endblock %}

{% block beforeContent %}

  <a href="javascript:history.back()" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Verification checks</span>
      <h1 class="govuk-heading-l">How do you protect your process against 'spoofing' attacks?</h1>

      <p>
        A 'spoofing' attack is when someone uses false biometric information to pretend to be someone else. They can do this by using things like masks or recordings to sound or look like someone else.
      </p>

      <form action="/verification-11b-answer" method="post" novalidate>

        {% from "checkboxes/macro.njk" import govukCheckboxes %}
        {% from "radios/macro.njk" import govukRadios %}

        {% from "checkboxes/macro.njk" import govukCheckboxes %}

        {{ govukCheckboxes({
          idPrefix: "verification-11b",
          name: "verification-11b",
          fieldset: {
            legend: {
              text: "",
              isPageHeading: false
            }
          },
          hint: {
            text: ""
          },
          items: [
            {
              value: "1",
              text: "You check if someone's using an artefact to pretend to be someone else (for example if they hold up a photo when you check a facial biometric)"
            },
            {
              value: "2",
              text: "You check if the artefact took time, money and effort to create (for example if the person uses a 3D printed mask of someone's likeness when you check a facial biometric)"
            },
            {
              value: "3",
              text: "You check if the artefact is sophisticated and involved criminal activity to create (for example if the person shows a 3D animated avatar on a computer or device when you check a facial biometric)"
            }
          ]
        }) }}



        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
