{% extends "layout.html" %}

{% block pageTitle %}
  Overview
{% endblock %}

{% block beforeContent %}

  <a href="javascript:history.back()" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Verification checks</span>
    <h1 class="govuk-heading-l">Medium quality KBV challenges</h1>

    <p>
      Medium quality KBV challenges must also:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>come from a source that did its own identity checks on whoever the person is claiming to be</li>
      <li>share codes, like a one-time password sent to the their phone, in a way that means you can be sure they were given to them (if you use any codes)</li>
    </ul>

    <form action="/verification-3b-answer" method="post" novalidate>

      {% from "checkboxes/macro.njk" import govukCheckboxes %}
      {% from "radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        idPrefix: "verification-3b",
        name: "verification-3b",
        fieldset: {
          legend: {
            text: "Do you ask someone to complete medium quality KBV challenges?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: ""
        },
        items: [
          {
            value: "1",
            text: "Yes"
          },
          {
            value: "2",
            text: "No"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>

{% endblock %}
