{% extends "layout.html" %}

{% block pageTitle %}
  Overview
{% endblock %}

{% block beforeContent %}

  <a href="javascript:history.back()" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Verification checks</span>

      <form action="/verification-10-answer" method="post" novalidate>

        {% from "checkboxes/macro.njk" import govukCheckboxes %}
        {% from "radios/macro.njk" import govukRadios %}

        {{ govukCheckboxes({
          idPrefix: "verification-10",
          name: "verification-10",
          fieldset: {
            legend: {
              text: "How do you make sure you do the check effectively?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: ""
          },
          items: [
            {
              value: "1",
              text: "You check there's enough light in the room where the check is being done to be able to effectively compare the person to the image on the evidence"
            },
            {
              value: "2",
              text: "You make sure you can tell if someone is wearing a mask, make up or prosthetics to look like someone else in the image"
            },
            {
              value: "3",
              text: "You make sure you can see the person's eyes if they're wearing glasses in the image (for example they're not hidden by glare or reflections)"
            },
            {
              value: "4",
              text: "You don't do any of these things"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
