{% extends "layout.html" %}

{% block pageTitle %}
  Overview
{% endblock %}

{% block beforeContent %}

  <a href="javascript:history.back()" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Verification checks</span>

      <form action="/verification-7b-answer" method="post" novalidate>

        {% from "checkboxes/macro.njk" import govukCheckboxes %}
        {% from "radios/macro.njk" import govukRadios %}

        {{ govukCheckboxes({
          idPrefix: "verification-7b",
          name: "verification-7b",
          fieldset: {
            legend: {
              text: "Tell us about the image of the person you have",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select all that apply."
          },
          items: [
            {
              value: "1",
              text: "It's at least 3 megapixels in resolution"
            },
            {
              value: "2",
              text: "It's clear and in focus"
            },
            {
              value: "3",
              text: "It's in colour"
            },
            {
              value: "4",
              text: "The person is in clear contrast to the background"
            },
            {
              value: "5",
              text: "The person does not have 'red eye'"
            },
            {
              value: "6",
              text: "The person is not wearing a head covering (unless it's for religious or medical reasons)"
            },
            {
              value: "7",
              text: "The person's eyes are open"
            },
            {
              value: "8",
              text: "The person does not have anything covering their face or eyes (such as shadows or their hair)"
            },
            {
              value: "9",
              text: "None of the above"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
