{% extends "layout.html" %}

{% block pageTitle %}
  Verification checks – Assess an identity check
{% endblock %}

{% block beforeContent %}

  <a href="javascript:history.back()" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Verification checks</span>
      <h1 class="govuk-heading-l">
        Can you properly see the person in the image or video?
      </h1>
      <p>
        The image or video should be:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>clear and in focus</li>
        <li>in colour</li>
      </ul>

      <p>
        In the image or video, the person must:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>be in clear contrast to the background</li>
        <li>not have ‘red eye’</li>
        <li>not wear a head covering (unless it’s for religious or medical reasons)</li>
        <li>not have their eyes closed</li>
        <li>not have anything covering their face or eyes (such as shadows or their hair)</li>
      </ul>

      <form action="/verification-physical-3c-answer" method="post" novalidate>

        {% from "checkboxes/macro.njk" import govukCheckboxes %}

        {% from "radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          idPrefix: "verification-physical-3c",
          name: "verification-physical-3c",
          fieldset: {
            legend: {
              text: "",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: ""
          },
          items: [
            {
              value: "1",
              text: "Yes"
            },
            {
              value: "2",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
