// global styles for <a> and <p> tags
$govuk-global-styles: true;

// Import GOV.UK Frontend
@import "node_modules/govuk-frontend/all";

// Patterns that aren't in Frontend
@import "patterns/check-your-answers";
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

.diagram{
  max-width: 100%;
  border: 1px solid $govuk-border-colour;
  margin-bottom: 25px;
}

.four-column-table td{
  width: 28%;
}

td.govuk-table__cell:first-child{
  width: 33.33%;
}

.recommendations td.govuk-table__cell:first-child{
  width: 50%;
}

td.govuk-table__cell.edit{
  text-align: right;
}

td.govuk-table__cell.metnotmet{
  width: 70px;
}

td{
  vertical-align: text-top;
}

.table-link{
  margin-top: -25px;
}

.hint{
  color:  $govuk-secondary-text-colour;
}

.banner{
  color: #005ea5;
  text-transform: none;
  padding: 20px;
  margin-top: 0px;
  border-width: 3px;
  border-style: solid;
}

.banner-message{
  font-family: "nta";
  margin-bottom: -15px;
  margin-top: -15px;
}

.banner-message h1{
  color: #005ea5;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
}

.banner-message p{
  width: 66.66%;
}

.govuk-grid-column-one-quarter{
  padding-left: 0;
}

.level-of-protection{
  margin: 50px 0;
}

.visually-hidden{
  display: none;
}

#recommendations .govuk-list--bullet{
  margin-top: -10px;
}

a:visited{
  color: #005ea5;
}

.govuk-error-summary .govuk-button{
  background-color: #b10e1e;
  margin-bottom: 0;
}

.govuk-error-summary .cancel{
  display: inline-block;
  margin: 10px 0 0 15px;
}

.aside .border{
  border-top: 5px solid #005ea5;
  margin-bottom: 20px;
}
