{% extends "layout.html" %}

{% block pageTitle %}
  Overview
{% endblock %}

{% block beforeContent %}
{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}
{{ govukBreadcrumbs({
items: [
  {
    text: "Identity standard",
    href: "/index"
  },{
    text: "Assess how your identity service meets the standard",
    href: "/before-you-start"
  },{
    text: "Your scores",
    href: "/overview"
  },
  {
    text: "Fraud"
  }
]
}) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Fraud checks</span>
      <h1 class="govuk-heading-l">Do you check if the identity has been stolen or used fraudulently?</h1>

      <p>
        You should check that whoever the person is claiming to be is not:
        <ul class="govuk-list govuk-list--bullet">
          <li>at a higher than usual risk of identity fraud</li>
          <li>likely to be a 'synthetic' (made up) identity</li>
        </ul>
      </p>

      <p>
        You can do this by checking the details of the claimed identity with authoritative counter-fraud data sources, such as a national fraud database.
      </p>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            How you can tell if a source is authoritative
          </span>
        </summary>
        <div class="govuk-details__text">

          <p>
            To be authoritative for a particular piece of information, the source must make sure:
          </p>

            <ul class="govuk-list govuk-list--bullet">
              <li>the integrity of the information is protected</li>
              <li>the information is up to date</li>
            </ul>

          <p>
            The source must also do one of the following:
          </p>

          <ul class="govuk-list govuk-list--bullet">
            <li>issue evidence</li>
            <li>get information from an organisation that issues evidence</li>
            <li>get information from another authoritative source</li>
          </ul>
        </div>
      </details>

      <p class="govuk-!-margin-bottom-6">
        The highest score you can get for this check is 3.
      </p>

      <form action="/fraud-0-answer" method="post" novalidate>

        {% from "radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          idPrefix: "fraud-0",
          name: "fraud-0",
          fieldset: {
            legend: {
              text: "",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
          {
            value: "1",
            text: "Yes"
          },
          {
            value: "2",
            text: "No"
          }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
