{% extends "layout.html" %}

{% block pageTitle %}
  Overview
{% endblock %}

{% block beforeContent %}

  <a href="javascript:history.back()" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Fraud checks</span>

      <form action="/fraud-1-answer" method="post" novalidate>

        {% from "checkboxes/macro.njk" import govukCheckboxes %}

        {{ govukCheckboxes({
          idPrefix: "fraud-1",
          name: "fraud-1",
          fieldset: {
            legend: {
              text: "What do you check to make sure the person's identity has not been stolen or used fraudulently?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select all that apply."
          },
          items: [
            {
              value: "1",
              text: "The person has not had their details stolen (even if those details have not been used fraudulently yet)"
            },{
              value: "2",
              text: "The person's identity has not been reported as stolen"
            },{
              value: "3",
              text: "The person is not a known 'synthetic' (made up) identity"
            },{
              value: "4",
              text: "The person is not at a high risk of being impersonated (for example if they’re a ‘politically exposed person’, like a politician or a judge)"
            },{
              value: "5",
              text: "The person's details do not belong to someone who has died"
            },{
              value: "6",
              text: "The person's details are known by an organisation that should have a record of that person (for example an Electoral Registration Office in a local authority)"
            },
            {
              value: "7",
              text: "None of these things"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
