{% extends "layout.html" %}

{% block pageTitle %}
  Fraud checks – Assess an identity check
{% endblock %}

{% block beforeContent %}

  <a href="javascript:history.back()" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Fraud checks</span>
      <h1 class="govuk-heading-l">Are the counter-fraud sources you use independent?</h1>

      <p>
        To be independent, they must be either:
        <ul class="govuk-list govuk-list--bullet">
          <li>separate to the part of your organisation that checks the person’s identity</li>
          <li>part of a different organisation</li>
        </ul>
      </p>

      <form action="/fraud-3-answer" method="post" novalidate>

        {% from "radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          idPrefix: "fraud-3",
          name: "fraud-3",
          fieldset: {
            legend: {
              text: "",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "1",
              text: "Yes"
            },
            {
              value: "2",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
