{% extends "layout.html" %}

{% block pageTitle %}
  Overview
{% endblock %}

{% block beforeContent %}

  <a href="javascript:history.back()" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Activity checks</span>

      <form action="/activity-1-answer" method="post" novalidate>

        {% from "radios/macro.njk" import govukRadios %}


        {% set conditionalAnswer %}
        {{ govukRadios({
          idPrefix: "activity-1b",
          name: "activity-1b",
          fieldset: {
            legend: {
              text: "How did the organisation do this?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "1",
              text: "Using their own identity checking process"
            },
            {
              value: "2",
              text: "Using a process that means they can be reasonably sure the person is who they say they are"
            },
            {
              value: "3",
              text: "Using a process that meets the requirements in the Money Laundering Regulations 2017"
            },
            {
              value: "4",
              text: "By physically comparing them to an image of the person they're claiming to be from an authoritative source"
            }
          ]
        }) }}

        {% endset -%}

        {{ govukRadios({
          idPrefix: "activity-1a",
          name: "activity-1a",
          fieldset: {
            legend: {
              text: "Did the organisation the person interacted with check their identity at any point?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "1",
              text: "Yes",
              conditional: {
                html: conditionalAnswer
              }
            },{
              value: "2",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
