{% extends "layout.html" %}

{% block pageTitle %}
  Overview
{% endblock %}

{% block beforeContent %}

  <a href="javascript:history.back()" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Activity checks</span>
      <h1 class="govuk-heading-l">
        Have you found interactions that you’d expect that person to have?
      </h1>

      <p>
        Some people’s interactions might appear differently to others. The interactions you expect someone to have will usually depend on:
        <ul class="govuk-list govuk-list--bullet">
          <li>the type of interaction</li>
          <li>who they are (their interactions can depend on things like their age or financial situation)</li>
        </ul>
      </p>

      <p>
        For example, you can expect someone who's been working for 20 years to have frequent financial transactions, but someone who's recently left school might not.
      </p>

      <p>
        If you can't find interactions that happen in the way you'd expect for that person, you might be less sure they were actually involved in them.
      </p>

      <form action="/activity-2-answer" method="post" novalidate>

        {% from "radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          idPrefix: "activity-2",
          name: "activity-2",
          fieldset: {
            legend: {
              text: "",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "1",
              text: "Yes"
            },{
              value: "2",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
