{% extends "layout.html" %}

{% block pageTitle %}
  Overview
{% endblock %}

{% block beforeContent %}

  <a href="javascript:history.back()" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Activity checks</span>
      <h1 class="govuk-heading-l">
        Have you found interactions that you'd expect that person to have?
      </h1>

      <p>
        Some people's interactions will be different from others. The interactions you expect someone to have will depend on things like:
        <ul class="govuk-list govuk-list--bullet">
          <li>the type of interaction they're doing</li>
          <li>the type of person they are (like their age or financial situation)</li>
        </ul>
      </p>

      <p>
        For example, you can expect people who have been working for 20 years to have more frequent financial transactions than people who have recently left school.
      </p>

      <p>
        If the interactions are not what you'd expect, you can still use them to check if someone exists. You might need to look for interactions over a longer time period.
      </p>

      <form action="/activity-2-answer" method="post" novalidate>

        {% from "radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          idPrefix: "activity-2",
          name: "activity-2",
          fieldset: {
            legend: {
              text: "",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "1",
              text: "Yes"
            },{
              value: "2",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
