{% extends "layout.html" %}

{% block pageTitle %}
  Overview
{% endblock %}

{% block beforeContent %}

  <a href="javascript:history.back()" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Activity checks</span>
      <h1 class="govuk-heading-l">
        Did the organisation check the person’s identity?
      </h1>
      <p>
        A person will sometimes need to prove they are who they say they are before they interact with an organisation.
      </p>

      <form action="/activity-1-answer" method="post" novalidate>

        {% from "checkboxes/macro.njk" import govukCheckboxes %}


        {% set conditionalAnswer %}
        {{ govukCheckboxes({
          idPrefix: "activity-1b",
          name: "activity-1b",
          fieldset: {
            legend: {
              text: "How did the organisation check the person's identity?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "1",
              text: "Using their own identity checking process"
            },
            {
              value: "2",
              text: "By checking the person's details with an authoritative source"
            },
            {
              value: "3",
              text: "Using a process that meets the requirements in the Money Laundering Regulations 2017"
            },
            {
              value: "4",
              text: "By physically comparing them to an image of the person they're claiming to be from an authoritative source"
            }
          ]
        }) }}

          <details class="govuk-details govuk-!-margin-top-4">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                How you can tell if a source is authoritative
              </span>
            </summary>
            <div class="govuk-details__text">

              <p>
                To be authoritative for a particular piece of information, the source must make sure:
              </p>

                <ul class="govuk-list govuk-list--bullet">
                  <li>the integrity of the information is protected</li>
                  <li>the information is up to date</li>
                </ul>

              <p>
                The source must also do one of the following:
              </p>

              <ul class="govuk-list govuk-list--bullet">
                <li>issue evidence</li>
                <li>get information from an organisation that issues evidence</li>
                <li>get information from another authoritative source</li>
              </ul>
            </div>
          </details>
        {% endset -%}

        {{ govukRadios({
          idPrefix: "activity-1a",
          name: "activity-1a",
          fieldset: {
            legend: {
              text: "",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--l"
            }
          },

          items: [
            {
              value: "1",
              text: "Yes",
              conditional: {
                html: conditionalAnswer
              }
            },{
              value: "2",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
