
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}
{{ govukBreadcrumbs({
items: [
  {
    text: "Checking identity",
    href: "/index"
  },{
    text: "Assess an identity check",
    href: "/before-you-start"
  },{
    text: "Your scores",
    href: "/overview"
  },
  {
    text: "Evidence"
  }
]
}) }}
{% endblock %}

{% block content %}
{% set evidenceExists = "false" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        {% for item in data['presetEvidence'] %}
          {% if item.chosen %}
            {% set evidenceExists = "true" %}
          {% endif %}
        {% endfor %}
        {% if evidenceExists == "true" %}
          What evidence do you collect?
        {% else %}
          What’s the first piece of evidence you collect?
        {% endif %}
      </h1>
      <p>
        Some pieces of evidence are 'stronger' than others, which means they will be harder to:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>forge</li>
        <li>counterfeit</li>
      </ul>

      <p>
        How strong the evidence is depends on:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>what security features are on it (for example a hologram or an electronic chip)</li>
        <li>what information it has</li>
        <li>how the person proved their identity to get the evidence</li>
      </ul>

      <p>
        The stronger the evidence is, the higher its score will be. The highest score you can get for this check is 4.
      </p>
      <p>
        You must check and score one piece of evidence at a time.
      </p>
      <p>
        If you collect different combinations of evidence, you should check and score one combination at a time.
      </p>

      <br>
      <form action="/choose-evidence-group-answer" method="post" novalidate>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="how-contacted-conditional-hint">
            <span id="how-contacted-conditional-hint" class="govuk-hint">
              Select one option.
            </span>
            <div class="govuk-radios govuk-radios--conditional" data-module="radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="choose-evidence-1" name="choose-evidence" type="radio" value="email" data-aria-controls="conditional-choose-evidence-1">
                <label class="govuk-label govuk-radios__label" for="choose-evidence-1">
                  Passport or travel document
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-choose-evidence-1">
                {% for item in data['presetEvidence'] %}
                  {% if item.group == '1' %}
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="{{item.name}}" name="evidence" type="radio" value="{{item.name}}">
                      <label class="govuk-label govuk-radios__label" for="{{item.name}}">
                        {{item.name}}
                      </label>
                    </div>
                  {% endif %}
                {% endfor %}
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="choose-evidence-2" name="choose-evidence" type="radio" value="email" data-aria-controls="conditional-choose-evidence-2">
                <label class="govuk-label govuk-radios__label" for="choose-evidence-2">
                  Driving licence or card
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-choose-evidence-2">
                {% for item in data['presetEvidence'] %}
                  {% if item.group == '2' %}
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="{{item.name}}" name="evidence" type="radio" value="{{item.name}}">
                      <label class="govuk-label govuk-radios__label" for="{{item.name}}">
                        {{item.name}}
                      </label>
                    </div>
                  {% endif %}
                {% endfor %}
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="choose-evidence-3" name="choose-evidence" type="radio" value="email" data-aria-controls="conditional-choose-evidence-3">
                <label class="govuk-label govuk-radios__label" for="choose-evidence-3">
                  Identity card
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-choose-evidence-3">
                {% for item in data['presetEvidence'] %}
                  {% if item.group == '3' %}
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="{{item.name}}" name="evidence" type="radio" value="{{item.name}}">
                      <label class="govuk-label govuk-radios__label" for="{{item.name}}">
                        {{item.name}}
                      </label>
                    </div>
                  {% endif %}
                {% endfor %}
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="choose-evidence-4" name="choose-evidence" type="radio" value="email" data-aria-controls="conditional-choose-evidence-4">
                <label class="govuk-label govuk-radios__label" for="choose-evidence-4">
                  Account, bill or statement
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-choose-evidence-4">
                {% for item in data['presetEvidence'] %}
                  {% if item.group == '4' %}
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="{{item.name}}" name="evidence" type="radio" value="{{item.name}}">
                      <label class="govuk-label govuk-radios__label" for="{{item.name}}">
                        {{item.name}}
                      </label>
                    </div>
                  {% endif %}
                {% endfor %}
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="choose-evidence-5" name="choose-evidence" type="radio" value="email" data-aria-controls="conditional-choose-evidence-5">
                <label class="govuk-label govuk-radios__label" for="choose-evidence-5">
                    Certificate
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-choose-evidence-5">
                {% for item in data['presetEvidence'] %}
                  {% if item.group == '5' %}
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="{{item.name}}" name="evidence" type="radio" value="{{item.name}}">
                      <label class="govuk-label govuk-radios__label" for="{{item.name}}">
                        {{item.name}}
                      </label>
                    </div>
                  {% endif %}
                {% endfor %}
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="choose-evidence-6" name="choose-evidence" type="radio" value="email" data-aria-controls="conditional-choose-evidence-6">
                <label class="govuk-label govuk-radios__label" for="choose-evidence-6">
                  Document issued by a local authority
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-choose-evidence-6">
                {% for item in data['presetEvidence'] %}
                  {% if item.group == '6' %}
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="{{item.name}}" name="evidence" type="radio" value="{{item.name}}">
                      <label class="govuk-label govuk-radios__label" for="{{item.name}}">
                        {{item.name}}
                      </label>
                    </div>
                  {% endif %}
                {% endfor %}
              </div>

              <div class="govuk-radios__divider">or</div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="choose-evidence-7" name="choose-evidence" type="radio" value="other" data-aria-controls="conditional-choose-evidence-7">
                <label class="govuk-label govuk-radios__label" for="choose-evidence-7">
                  Other evidence not listed
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-choose-evidence-7">
                <div class="govuk-form-group">
                  <label class="govuk-label" for="choose-evidence-7">
                    What is the evidence called?
                  </label>
                  <input class="govuk-input" id="choose-evidence-7" name="other-evidence-name" type="text">
                </div>
              </div>

            </div>
          </fieldset>
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
