
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}
{{ govukBreadcrumbs({
items: [
  {
    text: "Identity standard",
    href: "/index"
  },{
    text: "Assess how your identity service meets the standard",
    href: "/before-you-start"
  },{
    text: "Your scores",
    href: "/overview"
  },
  {
    text: "Evidence"
  }
]
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        What type of evidence do you collect?
      </h1>
      <p>
        Some pieces of evidence are stronger than others, which means they will be harder to fake or copy. How strong the evidence is depends on:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>what security features (like a hologram or an electronic chip) are on it</li>
        <li>what information is on it</li>
        <li>how it was designed</li>
        <li>how it was issued</li>
      </ul>

      <p>
        You'll get a higher score if your service collects strong pieces of evidence. The highest score you can get for this check is 4.
      </p>
      <br>
      <form action="/choose-evidence-group-answer" method="post" novalidate>
        {% from "radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          idPrefix: "choose-evidence-1",
          name: "choose-evidence-1",
          fieldset: {
            legend: {
              text: "",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: ""
          },
          items: [
            {
              value: "1",
              text: "Passport or travel document"
            },
            {
              value: "2",
              text: "Driving licence or card"
            },
            {
              value: "3",
              text: "Identity card"
            },
            {
              value: "4",
              text: "Account, bill or statement"
            },
            {
              value: "5",
              text: "Certificate"
            },
            {
              value: "6",
              text: "Document issued by a local authority"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
