
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% from "back-link/macro.njk" import govukBackLink %}
  {{ govukBackLink({
    text: "Back",
    href: "/your-risk"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <!-- <span class="govuk-caption-l">Evidence</span> -->
      <form action="/choose-evidence-group-answer" method="post" novalidate>
        {% from "radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          idPrefix: "choose-evidence-1",
          name: "choose-evidence-1",
          fieldset: {
            legend: {
              text: "What type of evidence is it?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "1",
              text: "Passport or travel document"
            },
            {
              value: "2",
              text: "Driving licence or card"
            },
            {
              value: "3",
              text: "Identity card"
            },
            {
              value: "4",
              text: "Account, bill or statement"
            },
            {
              value: "5",
              text: "Certificate"
            },
            {
              value: "6",
              text: "Document issued by a local authority"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
