{% extends "layout.html" %}

{% block pageTitle %}
  Overview
{% endblock %}

{% block beforeContent %}

  <a href="javascript:history.back()" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Calculate the strength of the {{ data['evidenceName'] }}
      </h1>

      <p>
        Use the guidance to calculate the strength score for {{ data['evidenceName'] }}.
        <br>
        <a href="/gpg-45" target='_blank'>Guidance for scoring evidence strength (opens in tab)</a>.
      </p>


      <form action="/other-evidence-answer" method="post" novalidate>

        {% from "radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          idPrefix: "other-evidence",
          name: "other-evidence",
          fieldset: {
            legend: {
              text: "What’s the strength of this evidence?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "1",
              text: "1"
            },
            {
              value: "2",
              text: "2"
            },
            {
              value: "3",
              text: "3"
            },
            {
              value: "4",
              text: "4"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

    </div>
  </div>

{% endblock %}
