{% extends "layout.html" %}

{% block pageTitle %}
  Overview
{% endblock %}

{% block beforeContent %}

  <a href="javascript:history.back()" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Do they use different light sources to check the {{ data['evidenceName'] }}?
      </h1>
      <p>A light source could be something like an ultraviolet light ('black light').</p>

      <form action="/validity-7a-answer" method="post" novalidate>

        {% from "radios/macro.njk" import govukRadios %}
        {% from "checkboxes/macro.njk" import govukCheckboxes %}

        {% set conditional %}
          {{ govukCheckboxes({
            idPrefix: "validity-7b",
            name: "validity-7b",
            fieldset: {
              legend: {
                text: "What do you use the light source to check?",
                classes: "govuk-fieldset__legend--s"
              }
            },
            hint: {
              text: ""
            },
            items: [
              {
                value: "1",
                text: "Check the paper the document is printed on looks the way it should"
              },
              {
                value: "2",
                text: "Check any fluorescent features on the document look the way they should"
              },
              {
                value: "3",
                text: "We don't check either of these things"
              }
            ]
          }) }}
        {% endset -%}

        {{ govukRadios({
          idPrefix: "validity-7a",
          name: "validity-7a",
          fieldset: {
            legend: {
              text: "",
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: ""
          },
          items: [
            {
              value: "1",
              text: "Yes",
              conditional: {
                html: conditional
              }
            },
            {
              value: "2",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
