{% extends "layout.html" %}

{% block pageTitle %}
  Overview
{% endblock %}

{% block beforeContent %}
  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}
  {{ govukBreadcrumbs({
  items: [
    {
      text: "Identity standard",
      href: "/index"
    },{
      text: "Assess how your identity service meets the standard",
      href: "/before-you-start"
    },
    {
      text: "Overview"
    }
  ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Can the person identify specific features on the {{ data['thisEvidence'] | capitalize }}?
      </h1>
      <p>
        They should be able to use an ultraviolet desktop light, magnification tool or other inspection equipment to identify:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>intaglio (raised) ink</li>
        <li>laser etching</li>
        <li>if features on certain parts of the document are consistent and correct</li>
      </ul>

      <form action="/validity-8-answer" method="post" novalidate>

        {% from "radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          idPrefix: "validity-8",
          name: "validity-8",
          fieldset: {
            legend: {
              text: "",
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: ""
          },
          items: [
            {
              value: "1",
              text: "Yes"
            },
            {
              value: "2",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
