{% extends "layout.html" %}

{% block pageTitle %}
  Overview
{% endblock %}

{% block beforeContent %}

  <a href="javascript:history.back()" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        What other checks does the person or system do?
      </h1>
      <p>They should check all of the following features on the document:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>watermarks</li>
        <li>ultraviolet security features</li>
        <li>security fibres</li>
        <li>consistency across the whole document</li>
      </ul>
      <p>To check these, they must use:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>an ultraviolet desktop light</li>
        <li>a magnification tool (such as a magnifier)</li>
        <li>other inspection equipment to identify forged or counterfeit documents</li>
        <li>an oblique light</li>
      </ul>

      <form action="/validity-11-answer" method="post" novalidate>

        {% from "radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          idPrefix: "validity-11",
          name: "validity-11",
          fieldset: {
            legend: {
              text: "",
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: ""
          },
          items: [
            {
              value: "1",
              text: "Yes"
            },
            {
              value: "2",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
