{% extends "layout.html" %}

{% block pageTitle %}
  Overview
{% endblock %}

{% block beforeContent %}


  <a href="javascript:history.back()" class="govuk-back-link">Back</a>


{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Validity checks</span>
      <h1 class="govuk-heading-l">
        How do you check if the {{ data['evidenceName'] }} is genuine or valid?
      </h1>

      <form action="/validity-1-answer" method="post" novalidate>

        {% from "_custom_macros/checkboxes/macro.njk" import govukCheckboxes %}

        {{ govukCheckboxes({
          idPrefix: "validity-1a",
          name: "validity-1a",
          fieldset: {
            legend: {
              text: "",
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: "Select all that apply."
          },
          items: [
            {
              value: "1",
              text: "Check the physical features on the evidence look genuine"
            },
            {
              value: "2",
              text: "Make sure the details match those held by an authoritative source"
            },
            {
              value: "3",
              text: "Confirm the visible security features (such as holograms or watermarks) are genuine"
            },
            {
              value: "4",
              text: "Confirm the ultraviolet or infrared security features are genuine"
            },
            {
              value: "5",
              text: "Confirm the cryptographic security features (such as cryptographic keys on chips) are genuine"
            },
            {
              value: "6",
              text: " Check the evidence has not been cancelled"
            },
            {
              divider: "or"
            },
            {
              value: "5",
              text: "You do not do any of these things"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
