{% extends "layout.html" %}

{% block pageTitle %}
  Overview
{% endblock %}

{% block beforeContent %}

  <a href="javascript:history.back()" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Do you check the {{ data['evidenceName'] }} is genuine or valid?
      </h1>

      <p>To make sure you only accept a piece of evidence that's real, you should check if it's:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>genuine (not forged or counterfeit)</li>
        <li>valid (it's been issued and has not expired, been cancelled, or reported as lost or stolen)</li>
      </ul>

      <p>
        The highest score you can get for this part of the identity checking process is 4.
      </p>

      <form action="/validity-0-answer" method="post" novalidate>

        {% from "radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          idPrefix: "validity-0",
          name: "validity-0",
          fieldset: {
            legend: {
              text: "",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "1",
              text: "Yes"
            },
            {
              value: "2",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

    </div>
  </div>

{% endblock %}
