{% extends "layout.html" %}

{% block pageTitle %}
  Overview
{% endblock %}

{% block beforeContent %}

  <a href="javascript:history.back()" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        How do you check the cryptographic security features of the {{ data['evidenceName'] }} are genuine?
      </h1>

      <form action="/validity-12-answer" method="post" novalidate>

        {% from "checkboxes/macro.njk" import govukCheckboxes %}

        {{ govukCheckboxes({
          idPrefix: "validity-12",
          name: "validity-12",
          fieldset: {
            legend: {
              text: "",
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: ""
          },
          items: [
            {
              value: "1",
              text: "Read the encrypted data with a compatible reader or decryption process"
            },
            {
              value: "2",
              text: "Provide the required access or decryption key"
            },
            {
              value: "3",
              text: "Check the digital signature is correct"
            },
            {
              value: "4",
              text: "Check the signing key is the correct type for that evidence"
            },
            {
              value: "5",
              text: "Check the signing key has not been revoked"
            },
            {
              value: "6",
              text: "We don't check any of these things"
            }
          ]
        }) }}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
