{% extends "layout.html" %}

{% block pageTitle %}
  Overview
{% endblock %}

{% block beforeContent %}


  <a href="javascript:history.back()" class="govuk-back-link">Back</a>


{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Validity</span>
      <h1 class="govuk-heading-l">
        How do you check if the {{ data['evidenceName'] }} is genuine or valid?
      </h1>

      <form action="/validity-1-answer" method="post" novalidate>

        {% from "checkboxes/macro.njk" import govukCheckboxes %}

        {% set checksHTML %}
          {{ govukCheckboxes({
            idPrefix: "validity-1b",
            name: "validity-1b",
            fieldset: {
              legend: {
                text: "How do you check this?",
                classes: "govuk-fieldset__legend--s"
              }
            },
            hint: {
              text: ""
            },
            items: [
              {
                value: "1",
                text: "Using normal light"
              },
              {
                value: "2",
                text: "Using ultraviolet (UV) or infrared (IR) light"
              }
            ]
          }) }}
        {% endset -%}

        {{ govukCheckboxes({
          idPrefix: "validity-1a",
          name: "validity-1a",
          fieldset: {
            legend: {
              text: "",
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: ""
          },
          items: [
            {
              value: "1",
              text: "Check its physical features look like they're genuine"
            },
            {
              value: "2",
              text: "Make sure its security features (such as holograms or watermarks) are genuine",
              conditional: {
                html: checksHTML
              }
            },
            {
              value: "3",
              text: "Make sure its cryptographic security features (such as cryptographic keys on chips) are genuine"
            },
            {
              value: "4",
              text: "Make sure the evidence is valid"
            },
            {
              value: "5",
              text: "You do not do any of these things"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
