{% extends "layout.html" %}

{% block pageTitle %}
  Overview
{% endblock %}

{% block beforeContent %}

  <a href="javascript:history.back()" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        How does the person check the {{ data['evidenceName'] }}?
      </h1>

      <form action="/validity-6-answer" method="post" novalidate>

        {% from "radios/macro.njk" import govukRadios %}

{% from "checkboxes/macro.njk" import govukCheckboxes %}

        {{ govukCheckboxes({
          idPrefix: "validity-6",
          name: "validity-6",
          fieldset: {
            legend: {
              text: "",
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: ""
          },
          items: [
            {
              value: "1",
              text: "They make sure the person whose identity they're checking has the document with them (this is more secure than accepting a scan that's been emailed to them)
"
            },
            {
              value: "2",
              text: "They make sure features like background printing, fonts and holograms on the document look the way they should"
            },
            {
              value: "3",
              text: "They make sure the document was shared in a way that prevents it from being tampered with"
            },
            {
              value: "4",
              text: "They don't check any of these things"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
