{% extends "layout.html" %}

{% block pageTitle %}
  Overview
{% endblock %}

{% block beforeContent %}

  <a href="javascript:history.back()" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Who do you check the person's {{ data['evidenceName'] }} details with?
      </h1>

      <form action="/validity-13-answer" method="post" novalidate>

        {% from "radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          idPrefix: "validity-13",
          name: "validity-13",
          fieldset: {
            legend: {
              text: "",
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: ""
          },
          items: [
            {
              value: "1",
              text: "The organisation that issued the document"
            },
            {
              value: "2",
              text: "Another authoritative source"
            },
            {
              value: "3",
              text: "Neither"
            }
          ]
        }) }}

        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              How you can tell if a source is authoritative
            </span>
          </summary>
          <div class="govuk-details__text">
            <p>
              To be authoritative, the source must have data about either the identity or the evidence.
            </p>
            <p>
              They must have received the data about the evidence from the organisation that issued it, either directly, or from another authoritative source. They’ll need to know enough about the identity or evidence to be able to confirm if the data you have is right. They’ll also need to make sure the data is up to date and hasn’t been tampered with.
            </p>
          </div>
        </details>

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
      {% from "details/macro.njk" import govukDetails %}
  </div>

{% endblock %}
