{% extends "layout.html" %}

{% block pageTitle %}
  Overview
{% endblock %}

{% block beforeContent %}

  <a href="javascript:history.back()" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Have other organisations worked with the person or system checking the {{ data['evidenceName'] }} before?
      </h1>
      <p>This includes:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Home Office</li>
        <li>National Document Fraud Unit</li>
        <li>Centre for the Protection of National Infrastructure (CPNI)</li>
        <li>another equivalent specialist organisation that can tell genuine documents apart from forgeries or counterfeits</li>
      </ul>
      <form action="/validity-10-answer" method="post" novalidate>

        {% from "radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          idPrefix: "validity-10",
          name: "validity-10",
          fieldset: {
            legend: {
              text: "",
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: ""
          },
          items: [
            {
              value: "1",
              text: "Yes"
            },
            {
              value: "2",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
