{% extends "layout.html" %}

{% block pageTitle %}
  Overview
{% endblock %}

{% block beforeContent %}
  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}
  {{ govukBreadcrumbs({
  items: [
    {
      text: "Identity standard",
      href: "/index"
    },{
      text: "Assess how your identity service meets the standard",
      href: "/before-you-start"
    },
    {
      text: "Overview"
    }
  ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Is the person or system supervised when the {{ data['evidenceName'] }} is checked?
      </h1>
      <p>
        The supervisor should have been trained by one of the following organisations (or an equivalent specialist trainer):
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Home Office</li>
        <li>National Document Fraud Unit</li>
        <li>Centre for the Protection of National Infrastructure (CPNI)</li>
      </ul>

      <form action="/validity-9-answer" method="post" novalidate>

        {% from "radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          idPrefix: "validity-9",
          name: "validity-9",
          fieldset: {
            legend: {
              text: "",
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: ""
          },
          items: [
            {
              value: "1",
              text: "Yes"
            },
            {
              value: "2",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
