{% extends "layout.html" %}

{% block pageTitle %}
  Overview
{% endblock %}

{% block beforeContent %}

  <a href="javascript:history.back()" class="govuk-back-link">Back</a>
  
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        What resolution is the {{ data['evidenceName'] }} image that the system uses?
      </h1>
      <p>The image should be clear enough for the system to be able to examine the document's security features. The document should take up at least 95% of the image.</p>

      <form action="/validity-5d-answer" method="post" novalidate>

        {% from "radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          idPrefix: "validity-5d",
          name: "validity-5d",
          fieldset: {
            legend: {
              text: "",
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: ""
          },
          items: [
            {
              value: "1",
              text: "At least 3 megapixels (or 300 DPI)"
            },
            {
              value: "2",
              text: "At least 6 megapixels (or 600 DPI)"
            },
            {
              value: "3",
              text: "Less than 3 megapixels"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
