
{% extends "layout.html" %}

{% block pageTitle %}
  Before you start
{% endblock %}

{% block beforeContent %}
  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
  items: [
    {
      text: "Identity standard",
      href: "/index"
    },
    {
      text: "Assess how your identity service meets the standard"
    }
  ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Before you start
      </h1>

      <p>
        You should have already checked:

        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
          <li>how likely your current service is to be targeted by identity fraud</li>
          <li>what impact identity fraud would have on your service</li>
        </ul>
      </p>

      <br>

      <form action="/set-choose-evidence-variables" method="post" novalidate>
        {{ govukButton({
          text: "Start assessment"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
