
{% extends "layout.html" %}

{% block pageTitle %}
  Before you start
{% endblock %}

{% block beforeContent %}
  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
  items: [
    {
      text: "Identity standard",
      href: "/index"
    },
    {
      text: "Assess how your identity service meets the standard"
    }
  ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Before you start
      </h1>

      <p>
        You should have already checked:

        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
          <li>how likely your current process is to be targeted by identity fraud</li>
          <li>what impact identity fraud would have on your process</li>
        </ul>
      </p>

      <h2 class="govuk-heading-m">What you’ll need to do</h2>

      <p>
        You’ll need to answer questions about how you check users’ identities.
      </p>
      <p>
        To do this, you need to know what documents your service collects and how it makes sure if they’re genuine and valid.
      </p>

      <p>
        You’ll also need to know if your service checks:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>the user’s identity has existed over time</li>
        <li>the user’s identity hasn’t been stolen or used fraudulently</li>
        <li>the identity shown on any documents your service collects belongs to the same person that claims to have it</li>
      </ul>

      <h2 class="govuk-heading-m">What you’ll get</h2>

      <ol class="govuk-list govuk-list--number">
        <li>You’ll get a score for each part of the identity checking process your service does. How high the score is will depend on how thoroughly you do the check. The highest score you can get is 4.</li>
        <li>Your scores will make up an ‘identity profile’. This tells you how confident you can be that the person you're checking is who they say they are. </li>
        <li>You’ll see what other identity profiles you can meet. If you do not meet any of them, you’ll find out which checks you need to improve.  </li>
      </ol>

      <br>

      <form action="/set-choose-evidence-variables" method="post" novalidate>
        {{ govukButton({
          text: "Start assessment"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
