{% extends "layout.html" %}

{% block pageTitle %}
  Overview
{% endblock %}

{% block beforeContent %}
  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
  items: [
    {
      text: "Identity standard",
      href: "/index"
    },
    {
      text: "Assess how your identity service meets the standard",
      href: "/start"
    },
    {
      text: "Your scores"
    }
  ]
  }) }}

{% endblock %}

{% block content %}

{% set evidenceExists = "false" %}

  {% if data['overview-error'] %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: "You need to answer the questions for checks on the identity",
          href: "#risk-question-1"
        }
      ]
    }) }}
  {% endif %}

  {% if data['remove'] == "true" %}
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
      <h2 class="govuk-error-summary__title" id="error-summary-title">
        Are you sure you want to remove the {{data['removeEvidence']}}?
      </h2>
      <div class="govuk-error-summary__body">
        <form action="/remove-item" method="post" novalidate>
          {{ govukButton({
            text: "Yes, remove"
          }) }}
          <a href="/overview?remove=false&removeEvidence=" class="cancel">Cancel</a>
        </form>
      </div>
    </div>
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Your scores
      </h1>

      <p>
        Find out what scores you’ll get for each part of the identity checking process.
      </p>

      {% if complete == "True" %}
        <h2 class="govuk-heading-m">Scores for your checks</h2>
        <p>
          You get a score for each part of the identity checking process you do. The highest score you can get is 4.
        </p>
        <p>
          The scores add up to tell you how confident you can be that you’ve proved that person’s identity.
        </p>
        <p>
          How confident you can be depends on how many pieces of evidence you collect and what score they get for each part of the identity checking process.
        </p>
      {% endif %}

    </div>

    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m govuk-!-margin-bottom-0 visually-hidden">Your service</h2>
      <table class="govuk-table govuk-table govuk-!-margin-bottom-7 govuk-!-margin-top-0">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col"></th>
            <th class="govuk-table__header" scope="col"></th>
            <th class="govuk-table__header" scope="col"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">What level of confidence you need</td>
            <td class="govuk-table__cell">{{data['user-risk-answer'] }}</td>
            <td class="govuk-table__cell edit"><a href="/your-risk">Change</a></td>
          </tr>
        </tbody>
      </table>

      <h2 class="govuk-heading-m govuk-!-margin-bottom-0 visually-hidden">Evidence you collect</h2>

      <table class="govuk-table govuk-!-margin-bottom-7 govuk-!-margin-top-0">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            {% for item in data['presetEvidence'] %}
              {% if item.chosen %}
                {% set evidenceExists = "true" %}
              {% endif %}
            {% endfor %}
            <th class="govuk-table__header" scope="col">Evidence you collect</th>
            {% if evidenceExists == "true" %}
              <th class="govuk-table__header" scope="col">Strength score</th>
              <th class="govuk-table__header" scope="col">Validity score</th>
            {% endif %}
            <th class="govuk-table__header" scope="col"></th>
          </tr>
        </thead>

        <tbody class="govuk-table__body">
          {% for item in data['presetEvidence'] %}
            {% if item.chosen %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">{{item.shortname}}</td>
                <td class="govuk-table__cell" scope="row">
                  {{item.strength}}
                </td>
                <td class="govuk-table__cell" scope="row">
                  {{item.validity}}
                </td>
                <td class="govuk-table__cell edit" scope="row"><a href="?remove=true&removeEvidence={{item.name}}">Remove</a></td>
              </tr>
            {% endif %}
          {% endfor %}

          {% if evidenceExists == "false" %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell hint" scope="row">You haven’t added any evidence yet</td>
              <td class="govuk-table__cell" scope="row">
                <a href="/evidence/choose-evidence">Add evidence</a>
              </td>
              <td class="govuk-table__cell" scope="row"></td>
            </tr>
          {% endif %}

        </tbody>
      </table>
      {% if evidenceExists == "true" %}
        <p class="table-link"><a href="/evidence/choose-evidence">Add evidence</a></p>
      {% endif %}
      <h2 class="govuk-heading-m govuk-!-margin-bottom-0 visually-hidden">Other checks</h2>

      <table class="govuk-table govuk-!-margin-bottom-7 govuk-!-margin-top-0">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Checks on the identity</th>
            {% if data['activityScore'] or data['fraudScore'] or data['verificationScore'] %}
              <th class="govuk-table__header" scope="col">Score</th>
            {% endif %}
            <th class="govuk-table__header" scope="col"></th>
            <th class="govuk-table__header" scope="col"></th>
          </tr>
        </thead>

        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">
              Activity
            </td>
            <td class="govuk-table__cell" scope="row">
              {% if data['activityScore'] %}
                {{data['activityScore']}}
              {% else %}
                <a href="/activity/activity-start">Answer required</a>
              {% endif %}
            </td>
            <td class="govuk-table__cell" scope="row"></td>
            <td class="govuk-table__cell edit" scope="row">
              {% if data['activityScore'] %}
                <a href="/activity/activity-start">Change</a>
              {% endif %}
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">
              Fraud
            </td>
            <td class="govuk-table__cell multi-question" scope="row">
              {% if data['fraudScore'] %}
                {{data['fraudScore']}}
              {% else %}
                <a href="/fraud/fraud-start">Answer required</a>
              {% endif %}
            </td>
            <td class="govuk-table__cell" scope="row"></td>
            <td class="govuk-table__cell edit" scope="row">
              {% if data['fraudScore'] %}
                <a href="/fraud/fraud-start">Change</a>
              {% endif %}
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row">
              Verification
            </td>
            <td class="govuk-table__cell multi-question" scope="row">
              {% if data['verificationScore'] %}
                {{data['verificationScore']}}
              {% else %}
                <a href="/verification/verification-start">Answer required</a>
              {% endif %}
            </td>
            <td class="govuk-table__cell" scope="row"></td>
            <td class="govuk-table__cell edit" scope="row">
              {% if data['verificationScore'] %}
                <a href="/verification/verification-start">Change</a>
              {% endif %}
            </td>
          </tr>
        </tbody>
      </table>

      <br>
    </div>
    <div class="govuk-grid-column-two-thirds">
      <form action="/overview-answer" method="post" novalidate>
        {{ govukButton({
          text: "Continue to results"
        }) }}
      </form>

    </div>
  </div>

{% endblock %}
