{% extends "layout.html" %}

{% block pageTitle %}
  Overview
{% endblock %}

{% block beforeContent %}
  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}
  {{ govukBreadcrumbs({
  items: [
    {
      text: "Identity standard",
      href: "/index"
    },{
      text: "Assess how your identity service meets the standard",
      href: "/before-you-start"
    },{
      text: "Your scores",
      href: "/overview"
    },
    {
      text: "Activity"
    }
  ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Activity checks</span>
      <h1 class="govuk-heading-l">Select a preset result</h1>

      <form action="/preset-answer" method="post" novalidate>

        {% from "radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          idPrefix: "preset",
          name: "preset",
          fieldset: {
            legend: {
              text: "",
              isPageHeading: false
            }
          },
          items: [
            {
              value: "1",
              text: "None"
            },{
              value: "2",
              text: "Low"
            },{
              value: "3",
              text: "Medium"
            },{
              value: "4",
              text: "High"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
