
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}
  {{ govukBreadcrumbs({
  items: [
    {
      text: "Identity standard",
      href: "/index"
    },{
      text: "Assess how your identity service meets the standard",
      href: "/before-you-start"
    },{
      text: "Your scores",
      href: "/overview"
    },
    {
      text: "Results",
      href: "/results"
    },
    {
      text: "Recommendations"
    }
  ]
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">How to improve your checks</h1>

      <p>
        These are the identity profiles that will give you the level of confidence you need in someone's identity.
      </p>
      <p>
        You'll need to do some parts of the identity checking process more thoroughly to meet these profiles.
      </p>

    </div>
    <div class="govuk-grid-column-full four-column-table">

      {% if data['user-risk-level'] == 'dont-know' %}
        <br>
        {% for levelData in data['profile-results'] | reverse %}
          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Show {{ levelData.level }} confidence profiles
              </span>
            </summary>
            <div class="govuk-details__text">
              {% for profile in levelData.results.profileResults %}


                <h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-8">Profile {{ profile.name }}</h2>
                {% if not profile.overallResult %}
                {% else %}
                  <p>Your checks meet this profile.</p>
                {% endif %}
                <table class="govuk-table govuk-!-margin-bottom-7 govuk-!-margin-top-0">
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th class="govuk-table__header" scope="col">Required evidence</th>
                      <th class="govuk-table__header" scope="col">Strength score</th>
                      <th class="govuk-table__header" scope="col">Validity score</th>
                      <th class="govuk-table__header" scope="col"></th>
                    </tr>
                  </thead>

                  <tbody class="govuk-table__body">
                    {% set evidenceCount = 0 %}
                    {% for evidence in profile.evidence %}
                      {% set evidenceCount = evidenceCount + 1 %}

                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell" scope="row">
                          Evidence {{evidenceCount}}
                        </td>
                        <td class="govuk-table__cell" scope="row">
                          {{ evidence.strength }}
                        </td>
                        <td class="govuk-table__cell" scope="row">
                          {{ evidence.validity }}
                        </td>
                        <td class="govuk-table__cell" scope="row">
                          {% if profile.evidenceResult == false %}Not met{% else %}Met{% endif %}
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>

                <details class="govuk-details" style="margin-top: -25px;">
                  <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                      Show your evidence scores
                    </span>
                  </summary>
                  <div class="govuk-details__text">
                    <table class="govuk-table">
                      <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                          <th class="govuk-table__header" scope="col">Evidence checks</th>
                          <th class="govuk-table__header" scope="col">Strength score</th>
                          <th class="govuk-table__header" scope="col">Validity score</th>
                        </tr>
                      </thead>

                      <tbody class="govuk-table__body">
                        {% for item in data['testevidence'] %}
                          {% if item.chosen %}
                            <tr class="govuk-table__row">
                              <td class="govuk-table__cell" scope="row">{{item.shortname | capitalize}}</td>
                              <td class="govuk-table__cell multi-question" scope="row">
                                {{item.strength}}
                              </td>
                              <td class="govuk-table__cell" scope="row">
                                {{item.validity}}
                              </td>

                            </tr>
                          {% endif %}
                        {% endfor %}
                        {% if evidenceExists == "false" %}
                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell hint" scope="row">You haven’t added any evidence</td>
                            <td class="govuk-table__cell" scope="row"></td>
                            <td class="govuk-table__cell" scope="row"></td>
                          </tr>
                        {% endif %}
                      </tbody>
                    </table>

                  </div>
                </details>

                <table class="govuk-table govuk-!-margin-bottom-7 govuk-!-margin-top-0">
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th class="govuk-table__header" scope="col">Other checks</th>
                      <th class="govuk-table__header" scope="col">Required score</th>
                      <th class="govuk-table__header" scope="col">Your score</th>
                      <th class="govuk-table__header" scope="col"></th>
                    </tr>
                  </thead>

                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row">
                        Activity
                      </td>
                      <td class="govuk-table__cell" scope="row">
                        {% if profile.activityThreshold %}
                          {{ profile.activityThreshold }}
                        {% else %}
                          Not required
                        {% endif %}
                      </td>
                      <td class="govuk-table__cell" scope="row">
                        {{data['activityScore']}}
                      </td>
                      <td class="govuk-table__cell" scope="row">
                        {% if profile.activityThreshold %}
                          {% if data['activityScore'] >= profile.activityThreshold %}
                            Met
                          {% else %}
                            Not met
                          {% endif %}
                        {% else %}
                          Met
                        {% endif %}
                      </td>

                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row">
                        Fraud
                      </td>
                      <td class="govuk-table__cell" scope="row">
                        {% if profile.fraudThreshold %}
                          {{ profile.fraudThreshold }}
                        {% else %}
                          Not required
                        {% endif %}
                      </td>
                      <td class="govuk-table__cell" scope="row">
                        {{data['fraudScore']}}
                      </td>
                      <td class="govuk-table__cell" scope="row">
                        {% if profile.fraudThreshold %}
                          {% if data['fraudScore'] >= profile.fraudThreshold %}
                            Met
                          {% else %}
                            Not met
                          {% endif %}
                        {% else %}
                          Met
                        {% endif %}
                      </td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell" scope="row">
                        Verification
                      </td>
                      <td class="govuk-table__cell multi-question" scope="row">
                        {% if profile.verificationThreshold %}
                          {{ profile.verificationThreshold }}
                        {% else %}
                          Not required
                        {% endif %}
                      </td>
                      <td class="govuk-table__cell multi-question" scope="row">
                        {{data['verificationScore']}}
                      </td>
                      <td class="govuk-table__cell multi-question" scope="row">
                        {% if profile.verificationThreshold %}
                          {% if data['verificationScore'] >= profile.verificationThreshold %}
                            Met
                          {% else %}
                            Not met
                          {% endif %}
                        {% else %}
                          Met
                        {% endif %}
                      </td>
                    </tr>
                  </tbody>
                </table>


                <p>
                  To meet profile {{ profile.name }} you need to:
                  <ul class="govuk-list govuk-list--bullet">
                    <li>
                      {% if profile.evidenceResult == false %}
                        <a href="https://docs.google.com/document/d/1B4CHMB6HWBQX4QrXtuTIIEmgVMOCuI_O2HFfapclvks/edit#bookmark=id.tt6wg8ju73yz">collect {{ profile.humanEvidence }}</a>
                      {% else %}
                        <a href="https://docs.google.com/document/d/1B4CHMB6HWBQX4QrXtuTIIEmgVMOCuI_O2HFfapclvks/edit#bookmark=id.tt6wg8ju73yz">review the criteria for evidence strength and validity</a>
                      {% endif %}
                    </li>

                    {% if profile.activityThreshold %}
                      <li>
                        {% if profile.activityResult == false %}
                          <a href="https://docs.google.com/document/d/1B4CHMB6HWBQX4QrXtuTIIEmgVMOCuI_O2HFfapclvks/edit#bookmark=id.fr82pftz89xg">increase the strength of your activity checks to {{ profile.activityThreshold }}</a>
                        {% else %}
                          <a href="https://docs.google.com/document/d/1B4CHMB6HWBQX4QrXtuTIIEmgVMOCuI_O2HFfapclvks/edit#bookmark=id.fr82pftz89xg">review the criteria for activity</a>
                        {% endif %}
                      </li>
                    {% endif %}

                    {% if profile.fraudThreshold %}
                      <li>
                        {% if profile.fraudResult == false %}
                          <a href="https://docs.google.com/document/d/1B4CHMB6HWBQX4QrXtuTIIEmgVMOCuI_O2HFfapclvks/edit#bookmark=id.h91qmhza1q7c">increase the strength of your fraud checks to {{ profile.fraudThreshold }}</a>
                        {% else %}
                          <a href="https://docs.google.com/document/d/1B4CHMB6HWBQX4QrXtuTIIEmgVMOCuI_O2HFfapclvks/edit#bookmark=id.h91qmhza1q7c">review the criteria for fraud</a>
                        {% endif %}
                      </li>
                    {% endif %}

                    {% if profile.verificationThreshold %}
                      <li>
                        {% if profile.verificationResult == false %}
                          <a href="https://docs.google.com/document/d/1B4CHMB6HWBQX4QrXtuTIIEmgVMOCuI_O2HFfapclvks/edit#bookmark=id.oxbyx3jjz9j9">increase the strength of your verification checks to {{ profile.verificationThreshold }} </a>
                        {% else %}
                          <a href="https://docs.google.com/document/d/1B4CHMB6HWBQX4QrXtuTIIEmgVMOCuI_O2HFfapclvks/edit#bookmark=id.oxbyx3jjz9j9">review the criteria for verification</a>
                        {% endif %}
                      </li>
                    {% endif %}

                  </ul>
                </p>



              {% endfor %}
            </div>
          </details>

        {% endfor %}

      {% else %}

      {% for profile in data['profile-results'] %}
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-margin-top-8">Profile {{ profile.name }}</h2>
          {% if not profile.overallResult %}
          {% else %}
            <p>Your checks meet this profile.</p>
          {% endif %}

          <table class="govuk-table govuk-!-margin-bottom-7 govuk-!-margin-top-0">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">Required evidence</th>
                <th class="govuk-table__header" scope="col">Strength score</th>
                <th class="govuk-table__header" scope="col">Validity score</th>
                <th class="govuk-table__header" scope="col"></th>
              </tr>
            </thead>

            <tbody class="govuk-table__body">
              {% set evidenceCount = 0 %}
              {% for evidence in profile.evidence %}
                {% set evidenceCount = evidenceCount + 1 %}

                <tr class="govuk-table__row">
                  <td class="govuk-table__cell" scope="row">
                    Evidence {{evidenceCount}}
                  </td>
                  <td class="govuk-table__cell" scope="row">
                    {{ evidence.strength }}
                  </td>
                  <td class="govuk-table__cell" scope="row">
                    {{ evidence.validity }}
                  </td>
                  <td class="govuk-table__cell" scope="row">
                    {% if profile.evidenceResult == false %}Not met{% else %}Met{% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>

          <details class="govuk-details" style="margin-top: -25px;">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Show your evidence scores
              </span>
            </summary>
            <div class="govuk-details__text">
              <table class="govuk-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Evidence checks</th>
                    <th class="govuk-table__header" scope="col">Strength score</th>
                    <th class="govuk-table__header" scope="col">Validity score</th>
                  </tr>
                </thead>

                <tbody class="govuk-table__body">
                  {% for item in data['testevidence'] %}
                    {% if item.chosen %}
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell" scope="row">{{item.shortname | capitalize}}</td>
                        <td class="govuk-table__cell multi-question" scope="row">
                          {{item.strength}}
                        </td>
                        <td class="govuk-table__cell" scope="row">
                          {{item.validity}}
                        </td>

                      </tr>
                    {% endif %}
                  {% endfor %}
                  {% if evidenceExists == "false" %}
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell hint" scope="row">You haven’t added any evidence</td>
                      <td class="govuk-table__cell" scope="row"></td>
                      <td class="govuk-table__cell" scope="row"></td>
                    </tr>
                  {% endif %}
                </tbody>
              </table>

            </div>
          </details>

          <table class="govuk-table govuk-!-margin-bottom-7 govuk-!-margin-top-0">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">Other checks</th>
                <th class="govuk-table__header" scope="col">Required score</th>
                <th class="govuk-table__header" scope="col">Your score</th>
                <th class="govuk-table__header" scope="col"></th>
              </tr>
            </thead>

            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">
                  Activity
                </td>
                <td class="govuk-table__cell" scope="row">
                  {% if profile.activityThreshold %}
                    {{ profile.activityThreshold }}
                  {% else %}
                    Not required
                  {% endif %}
                </td>
                <td class="govuk-table__cell" scope="row">
                  {{data['activityScore']}}
                </td>
                <td class="govuk-table__cell" scope="row">
                  {% if profile.activityThreshold %}
                    {% if data['activityScore'] >= profile.activityThreshold %}
                      Met
                    {% else %}
                      Not met
                    {% endif %}
                  {% else %}
                    Met
                  {% endif %}
                </td>

              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">
                  Fraud
                </td>
                <td class="govuk-table__cell" scope="row">
                  {% if profile.fraudThreshold %}
                    {{ profile.fraudThreshold }}
                  {% else %}
                    Not required
                  {% endif %}
                </td>
                <td class="govuk-table__cell" scope="row">
                  {{data['fraudScore']}}
                </td>
                <td class="govuk-table__cell" scope="row">
                  {% if profile.fraudThreshold %}
                    {% if data['fraudScore'] >= profile.fraudThreshold %}
                      Met
                    {% else %}
                      Not met
                    {% endif %}
                  {% else %}
                    Met
                  {% endif %}
                </td>
              </tr>
              <tr class="govuk-table__row">
                <td class="govuk-table__cell" scope="row">
                  Verification
                </td>
                <td class="govuk-table__cell multi-question" scope="row">
                  {% if profile.verificationThreshold %}
                    {{ profile.verificationThreshold }}
                  {% else %}
                    Not required
                  {% endif %}
                </td>
                <td class="govuk-table__cell multi-question" scope="row">
                  {{data['verificationScore']}}
                </td>
                <td class="govuk-table__cell multi-question" scope="row">
                  {% if profile.verificationThreshold %}
                    {% if data['verificationScore'] >= profile.verificationThreshold %}
                      Met
                    {% else %}
                      Not met
                    {% endif %}
                  {% else %}
                    Met
                  {% endif %}
                </td>
              </tr>
            </tbody>
          </table>



          <!-- <h3 class="govuk-heading-s">What you need to do to meet profile {{ profile.name }}</h3> -->
          <p>
            To meet profile {{ profile.name }} you need to:
            <ul class="govuk-list govuk-list--bullet">
              <li>
                {% if profile.evidenceResult == false %}
                  <a href="https://docs.google.com/document/d/1B4CHMB6HWBQX4QrXtuTIIEmgVMOCuI_O2HFfapclvks/edit#bookmark=id.tt6wg8ju73yz" target="_blank">collect {{ profile.humanEvidence }}</a>
                {% else %}
                  <a href="https://docs.google.com/document/d/1B4CHMB6HWBQX4QrXtuTIIEmgVMOCuI_O2HFfapclvks/edit#bookmark=id.tt6wg8ju73yz" target="_blank">review the criteria for evidence strength and validity</a>
                {% endif %}
              </li>

              {% if profile.activityThreshold %}
                <li>
                  {% if profile.activityResult == false %}
                    <a href="https://docs.google.com/document/d/1B4CHMB6HWBQX4QrXtuTIIEmgVMOCuI_O2HFfapclvks/edit#bookmark=id.fr82pftz89xg" target="_blank">increase the strength of your activity checks to {{ profile.activityThreshold }}</a>
                  {% else %}
                    <a href="https://docs.google.com/document/d/1B4CHMB6HWBQX4QrXtuTIIEmgVMOCuI_O2HFfapclvks/edit#bookmark=id.fr82pftz89xg" target="_blank">review the criteria for activity</a>
                  {% endif %}
                </li>
              {% endif %}

              {% if profile.fraudThreshold %}
                <li>
                  {% if profile.fraudResult == false %}
                    <a href="https://docs.google.com/document/d/1B4CHMB6HWBQX4QrXtuTIIEmgVMOCuI_O2HFfapclvks/edit#bookmark=id.h91qmhza1q7c" target="_blank">increase the strength of your fraud checks to {{ profile.fraudThreshold }}</a>
                  {% else %}
                    <a href="https://docs.google.com/document/d/1B4CHMB6HWBQX4QrXtuTIIEmgVMOCuI_O2HFfapclvks/edit#bookmark=id.h91qmhza1q7c" target="_blank">review the criteria for fraud</a>
                  {% endif %}
                </li>
              {% endif %}

              {% if profile.verificationThreshold %}
                <li>
                  {% if profile.verificationResult == false %}
                    <a href="https://docs.google.com/document/d/1B4CHMB6HWBQX4QrXtuTIIEmgVMOCuI_O2HFfapclvks/edit#bookmark=id.oxbyx3jjz9j9" target="_blank">increase the strength of your verification checks to {{ profile.verificationThreshold }} </a>
                  {% else %}
                    <a href="https://docs.google.com/document/d/1B4CHMB6HWBQX4QrXtuTIIEmgVMOCuI_O2HFfapclvks/edit#bookmark=id.oxbyx3jjz9j9" target="_blank">review the criteria for verification</a>
                  {% endif %}
                </li>
              {% endif %}

            </ul>
          </p>
      {% endfor %}

      {% endif %}
    </div>
  </div>



{% endblock %}
