
{% extends "layout.html" %}

{% block pageTitle %}
  Before you start
{% endblock %}

{% block beforeContent %}
  {% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}

  {{ govukBreadcrumbs({
  items: [
    {
      text: "Identity standard",
      href: "/index"
    },
    {
      text: "Assess how your identity service meets the standard"
    }
  ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
        Assess an identity check
      </h1>

      <p class="govuk-!-margin-bottom-6">
        Find out how an identity checking process meets the UK government’s Identity Standards and if the checks can be improved.
      </p>

      <p>
        Use this service if you:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>advise on identity risks and need recommendations</li>
        <li>need to know how a process protects against identity fraud</li>
      </ul>


      <h2 class="govuk-heading-m">How it works</h2>

      <ol class="govuk-list govuk-list--number">
        <li>Get scored for each part of the identity checking process.</li>
        <li>Find out if the checks score high enough to protect against your risks.</li>
        <li>Plan what checks you need to improve.</li>
      </ol>
      <br>

      <form action="/set-choose-evidence-variables" method="post" novalidate>
        {{ govukButton({
          text: "Start assessment"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
