
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {% from "back-link/macro.njk" import govukBackLink %}
  {{ govukBackLink({
    text: "Back",
    href: "/index"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">What does your service let users do?</h1>

      <p>
        How confident you need to be that someone is who they say they are depends on what your service does.
      </p>

      <p>
        You'll usually need to be more confident if your service gives users something valuable, like money or benefits. This is because your service is more likely to be targeted by users pretending to be someone else to get something they shouldn't.
      </p>

      <form action="/risk-answer" method="post" novalidate>

        {% from "radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          idPrefix: "risk-question",
          name: "risk-question",
          fieldset: {
            legend: {
              text: "",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--l"
          }
        },
          items: [
            {
              value: "1",
              text: "It lets users update information about themselves"
            },
            {
              value: "2",
              text: "It gives users access to sensitive information"
            },
            {
              value: "3",
              text: "It gives users money, benefits or something else valuable"
            },
            {
              value: "4",
              text: "It doesn’t do any of these things"
            },
            {
              divider: "or"
            },
            {
              value: "dont know",
              text: "I don’t know"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
